div.section.section--hero
  div.background-video__container
    iframe.background-video
  
  header.branding
    a.branding__link(href="https://www.toggl.com/", target="_blank", title="Toggl")
      img.branding__logo(src="", alt="Toggl Logo")
  
  div.section__content
    h1.page-title
      em.page-title__line1 Work for Toggl.
      strong.page--title__line2 From anywhere.
    p
      | We believe great people will make awesome stuff anywhere.
      br
      | New York, São Paulo, or a quiet village near Florence.
    p 
      | No need to move for your dream job.
      br
      | We hire globally. You work locally.
    
    a.button(href="#", onClick="ga('send', 'event', 'button', 'click', 'video')") See The Video
